<h1>ユーザー一覧</h1>
<table>
  <thead>
    <tr>
      <th scope="col">氏名</th>
      <th scope="col">年齢</th>
      <th scope="col">身長</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.height %></td>
      </tr>
    <% end %>
  </tbody>
  <%= form_with url: import_path do |f| %>
    <%= f.file_field :file, accept: "text/csv" %>
    <%= f.submit "CSVインポート" %>
  <% end %>
  <p>
    <%= link_to "CSVエクスポート", users_path(format: :csv) %>
  </p>
</table>
